<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta http-equiv="X-UA-Compatible" content="ie=edge">
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>
		<h1>Adicionar notícia</h1>
		<br>

		<form action="/noticias/salvar" method="post">
			<label for="titulo">Título</label>
			<input type="text" name="titulo" id="titulo"
				 placeholder="Título da noticia">
			<br>
			<label for="noticia">Notícia</label>
			<textarea name="noticia" id="noticia" cols="30" rows="5"></textarea>
			<br>
			<input type="submit" value="Enviar">

		</form>

	</body>
</html>