<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Notícias</title>
	</head>
	<body>		
		<h1><%= noticia[0].titulo %></h1>
		
		<table>
			<thead>
				<tr>
					<th>Título</th>
					<th>Noticia</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= noticia[0].titulo %></td>
					<td><%= noticia[0].noticia %></td>
				</tr>
			</tbody>
		</table>

	</body>
</html>	

