<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Portal de notícias</title>
	</head>
	<body>
		<h1>Bem vindo a página inicial</h1>
	</body>
</html>